html body {
	background-color: #1c2e4a;
}

.rows {
	text-align: center;
	justify-content: center;
}

.bigBox {
	margin-top: 5rem;
	
}

img {
	height: 15rem;
	width: 15rem;
	margin: 1rem;
}


h1 {
	text-align: center;
	color: #f5f5dc;

.pressed {
	
}



