.game-over {
	background-color: red !important;
	opacity: 0.8;
}
body {
  text-align: center;
  background-color: #011F3F;
}

.pressed {
	background-color: grey !important;
	border: 5px solid white;
	
}
.green {
	background-color:green;
}

.red {
	background-color:red;
}

.blue {
	background-color:blue;
}

.yellow {
	background-color:yellow;
}

.rows {
	text-align: center;
	justify-content: center;
	
}

.bigBox {
	margin-top: 5rem;
	
}

button {
	height: 15rem;
	width: 15rem;
	margin: 1rem;
	border: 5px solid black;
	border-radius: 25%;
}


h1 {
	text-align: center;
	color: white;
}

p {
	color: white;
}
body input {
	width: 400px;
	height: 40px;
	font-size: 18px;
}






