.pressed {
	background-color: grey !important;
	border: 5px solid white;
	
}
.green {
	background-color:green;
}

.red {
	background-color:red;
}

.blue {
	background-color:blue;
}

.yellow {
	background-color:yellow;
}

.rows {
	text-align: center;
	justify-content: center;
	
}

.bigBox {
	margin-top: 5rem;
	
}

button {
	height: 15rem;
	width: 15rem;
	margin: 5rem;
	border: 5px solid black;
}


h1 {
	text-align: center;
	color: blue;








